@import "tailwindcss";

@theme {
  --color-primary: #1F62E8;
  --color-secondary: #3983D4;
  --color-accent: #FCC800;
  --color-text-primary: #101010;
  --color-success: #13AD57;
  --color-background: #F3F4F6;
  --color-warning: #FCC800;
  --color-brand-blue: #1F62E8;
  --color-brand-light-blue: #3983D4;
}
